.app {
  overflow: hidden;
  background-color: white;
}

.app__debug {
  position: absolute;
  right: 0;
}

.app__debug--hero {
  width: var(--tile-size);
  height: var(--tile-size);
  border: var(--border-size) solid green;
  transform: translateY(calc(var(--tile-size) / 2));
}

.app__status {
  position: absolute;
  z-index: 999;
  color: #5c4e92;
  background-color: white;
}

.app__button--movement {
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 0;
  display: grid;
}

.app__button--action {
  position: absolute;
  z-index: 999;
  bottom: 0;
  right: 0;
  display: grid;
}

.app__button--indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #818b83;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: var(--tile-size);
}

.app__button {
  position: relative;
  height: var(--tile-size);
  width: var(--tile-size);
}

.app__arrow--up {
  transform: translate(-50%, -50%);
}

.app__arrow--left {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.app__arrow--right {
  transform: translate(-50%, -50%) rotate(90deg);
}

.app__arrow--down {
  transform: translate(-50%, -50%) rotate(180deg);
}

.app__button--up {
  grid-area: 1 / 2;
}

.app__button--left {
  grid-area: 2 / 1;
}

.app__button--right {
  grid-area: 2 / 3;
}

.app__button--down {
  grid-area: 3 / 2;
}

.app__button--a {
  grid-area: 1 / 1;
}

.app__button--b {
  grid-area: 2 / 1;
}