.app {
  overflow: hidden;
  background-color: white;
}

.app__debug {
  position: absolute;
  right: 0;
}

.app__debug--hero {
  width: var(--tile-size);
  height: var(--tile-size);
  border: var(--border-size) solid green;
  transform: translateY(calc(var(--tile-size) / 2));
}

.app__status {
  position: absolute;
}

.app__button--container {
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(5, var(--tile-size));
}

.app__button {
  height: var(--tile-size);
  width: var(--tile-size);
}

.app__button--up {
  grid-row: 1;
  grid-column: 2;
}

.app__button--left {
  grid-row: 2;
  grid-column: 1;
}

.app__button--right {
  grid-area: 2 / 3;
}

.app__button--down {
  grid-row: 3;
  grid-column: 2;
}

.app__button--a {
  grid-area: 1 / 5;
}

.app__button--b {
  grid-area: 2 / 5;
}