@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --zoom-level: 5;
  --tile-size: calc(16px * var(--zoom-level));
  --border-size: calc(.5px * var(--zoom-level));
}

* {
  margin: 0;
  image-rendering: pixelated;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  font-size: calc(var(--tile-size) / 4);
  user-select: none;
}