:root {
  --zoom-level: 5;
  --tile-size: calc(16px * var(--zoom-level));
  --border-size: calc(.5px * var(--zoom-level));
}

* {
  margin: 0;
  image-rendering: pixelated;
  box-sizing: border-box;
}